<h1>Wizyta usunięta</h1>
<p>Szanowny/a <%= @patient.first_name %> <%= @patient.last_name %>,</p>
<p>Umówiona na <%= @appointment.start_time.strftime("%d %B %Y, godzina %H:%M") %> wizyta została anulowana.</p>
