<h1>Twoje wizyty</h1>

<% if @appointments.any? %>
  <% @user_appointments.each do |appointment| %>
    <div>
      <p>Data wizyty: <%= appointment.appointment.appointment_date %></p>
      <p>Lekarz:  <%= appointment.appointment.doctor.first_name %> <%= appointment.appointment.doctor.last_name %></p>
    </div>
    <hr>
  <% end %>
<% else %>
  <p>Nie masz żadnych zaplanowanych wizyt.</p>
<% end %>