<h1>Badania laboratoryjne</h1>

<% if @lab_tests.any? %>
  <% @lab_tests.each do |lab_test| %>
    <div>
      <p>Data wystawienia wyników: <%= lab_test.created_at.strftime("%d.%m.%Y") %></p>
      <p>Data wykonania badania: </p>
      <%= link_to "Pobierz", rails_blob_path(lab_test.file_id, disposition: "attachment"), class: "btn btn-primary" %>
    </div>
    <hr>
  <% end %>
<% else %>
  <p>Nie posiadasz jeszcze żadnych wyników badań laboratoryjnych.</p>
<% end %>