<div id="<%= dom_id user_review %>">
  <p>
    <strong>Patient user:</strong>
    <%= user_review.patient_user_id %>
  </p>

  <p>
    <strong>Doctor user:</strong>
    <%= user_review.doctor_user_id %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= user_review.review_id %>
  </p>

</div>
