<p style="color: green"><%= notice %></p>

<h1>User reviews</h1>

<div id="user_reviews">
  <% @user_reviews.each do |user_review| %>
    <%= render user_review %>
    <p>
      <%= link_to "Show this user review", user_review %>
    </p>
  <% end %>
</div>

<%= link_to "New user review", new_user_review_path %>
