<div id="<%= dom_id user_appointment %>">
  <p>
    <strong>Patient user:</strong>
    <%= user_appointment.patient_user_id %>
  </p>

  <p>
    <strong>Appointment:</strong>
    <%= user_appointment.appointment_id %>
  </p>

</div>
