<h1>Editing user appointment</h1>

<%= render "form", user_appointment: @user_appointment %>

<br>

<div>
  <%= link_to "Show this user appointment", @user_appointment %> |
  <%= link_to "Back to user appointments", user_appointments_path %>
</div>
